html {
  box-sizing: border-box;
  font-family: Ubuntu, sans-serif;
}
*::selection {
  background-color: #164c45;
  color: #e3c75f;
}
body {
  background-color: #164c45;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.panel {
  background-color: #e3c75f;
  border-radius: 0.75rem;
  padding: 2rem 1rem;
  width: 100%;
  max-width: 960px;
  display: flex;
  flex-direction: column;
  text-align: center;
  text-transform: uppercase;
}
.pricing-plan {
  border-bottom: 0.125rem solid #bda523;
}
.pricing-plan:last-child {
  border-bottom: none;
}
.pricing-img {
  margin-bottom: 1.5rem;
  max-width: 100%;
}
.pricing-header {
  color: #164c45;
  font-weight: 500;
  letter-spacing: 0.125rem;
}
.pricing-features {
  margin: 3rem 0 1.5rem;
  color: #16232e;
}
.pricing-features-item {
  font-weight: 500;
  letter-spacing: 0.125rem;
  font-size: 0.75rem;
  line-height: 1.5;
  padding: 1rem;
  border-top: 0.125rem solid #bda523;
}
.pricing-features-item:last-child {
  border-bottom: 0.125rem solid #bda523;
}
.pricing-price {
  color: #164c45;
  display: block;
  font-size: 2rem;
  font-weight: 700;
}
.pricing-button {
  border: 0.125rem solid #bda523;
  border-radius: 0.625rem;
  color: #e3c75f;
  display: inline-block;
  padding: 1rem 2rem;
  text-decoration: none;
  margin: 1.5rem 0;
  background-color: #cc8d1a;
  transition: background-color 250ms ease-in-out;
}
.pricing-button:hover,
.pricing-button:focus {
  background-color: #16232e;
  border-color: #cc8d1a;
}
.pricing-button.is-featured {
  background-color: #164c45;
  transition: background-color 250ms ease-in-out;
}
.pricing-button.is-featured:hover,
.pricing-button.is-featured:focus {
  background-color: #16232e;
}

@media (min-width: 900px) {
  .panel {
    flex-direction: row;
  }
  .pricing-plan {
    border-bottom: none;
    border-right: 0.125rem solid #bda523;
    padding: 1rem 1rem;
  }
  .pricing-plan:last-child {
    border-right: none;
  }
}
